main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.g-container {
    max-width:80%;
    margin: 30px auto;
}

.g-container.no-pad {
    max-width:80%;
    margin: auto;
}

.uk-button {
	cursor: pointer !important;
}